@media screen and (max-width: 1432px) {
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
            .i-c-2{
                flex-direction: column;
            }
            .i-c-2 :last-child{
                margin-left: 0;
                margin-top: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 1040px) {
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            padding-top: 2.5rem;
        }
    }
    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }
    .portfolios{
        grid-template-columns: 1fr 1fr;
    }

    .blogs{
        grid-template-columns: 1fr 1fr;
    }

    .main-title{
        h2{
            font-size: 3.3rem;
            span{
                font-size: 4rem;
            }
        }
        .bg-text{
            font-size: 4.7rem;
        }
    }
}

@media screen and (max-width: 800px) {
    // .section{
    //     padding: 7rem 3rem;
    // }

    .main-title{
        h2{
            font-size: 2.7rem;
            span{
                font-size: 3.3rem;
            }
        }
        .bg-text{
            font-size: 3.6rem;
        }
    }
}

@media screen and (max-width: 600px) {
    //Header
    header{
        padding: 0;
    }
    .header-content .right-header{
        padding: 0;
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .introduction{
            font-size: 2.5rem;
        }
    }
    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
        .left-header{
            padding-top: 1rem;
            .h-shape{
                display: none;
            }
            .image{
                margin: 0 auto;
                width: 50%;
            }
        }
    }
    //About
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }
    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    //Portfolio
    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    //Blogs
    .blogs{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.5rem;
            }
        }
        .bg-text{
            font-size: 3rem;
        }
    }
    .section{
        padding: 2rem 2.5rem;
    }
    .theme-btn{
        width: 50px;
        height: 50px;
    }
    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey5);
        .control{
                margin: 0.6rem 0.6rem;
        }
    }
}