/* @import 'variables.css'; */

.about-skills {
  padding-bottom: 4rem;
  .skill-elements {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    .skill-element {
      display: flex;
      flex-direction: column;
      align-items: center;
      svg {
        width: 80px;
        height: 80px;
      }
      .skill-title {
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}

.timeline {
  display: grid;
  width: 400px;
  grid-template-columns: 1fr;
  margin: 0 auto;
  .timeline-item {
    position: relative;
    padding: 0 0 2rem 3rem;
    border-left: 1px solid var(--color-bg-items);
    .timeline-icon {
      position: absolute;
      left: -27px;
      top: 0;
      background-color: var(--color-secondary);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      & i {
        font-size: 1.3rem;
      }
    }
    .timeline-duration {
      padding: 0.2rem 0.6rem;
      background-color: var(--color-bg-items);
      border-radius: var(--border-radius);
      display: inline-block;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    & h5 {
      padding: 0.4rem 0;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 600;
      & span {
        color: var(--color-s-text);
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
    & p {
      color: var(--color-s-text);
    }
  }
}
