@import 'variables.css';

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  .left-about {
    padding-right: 5rem;
    p {
      line-height: 2rem;
      color: var(--color-s-text);
    }
    h4 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
  .right-about {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 2rem;
    .about-item {
      border: 1px solid var(--color-bg-items);
      border-radius: 5px;
      transition: var(--transition1);
      box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
      .abt-text {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        .large-text {
          font-size: 3rem;
          font-weight: 700;
          color: var(--color-secondary);
        }
        .small-text {
          padding-left: 3rem;
          position: relative;
          text-transform: uppercase;
          font-size: 1.2rem;
          color: var(--color-s-text);
          letter-spacing: 2px;
        }
        .small-text::before {
          content: '';
          position: absolute;
          left: 0;
          top: 15px;
          width: 2rem;
          height: 2px;
          background-color: var(--color-bg-items);
        }
      }
    }
    .about-item:hover {
      cursor: default;
      transform: translateY(-5px);
      border: 1px solid var(--color-secondary);
      box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
    }
  }
}

.about-stats {
  padding-bottom: 4rem;
  .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    .progress-bar {
      display: flex;
      flex-direction: column;
      .prog-title {
        text-transform: uppercase;
        font-weight: 500;
      }
      .progress-con {
        display: flex;
        align-items: center;
        .prog-text {
          color: var(--color-s-text);
        }
        .progress {
          width: 100%;
          height: 0.45rem;
          background-color: var(--color-control-bg);
          margin-left: 1rem;
          position: relative;
          span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: var(--color-secondary);
            transition: var(--transition1);
            width: 60%;
          }
        }
      }
    }
  }
}

.timeline {
  display: grid;
  width: 400px;
  grid-template-columns: 1fr;
  margin: 0 auto;
  .timeline-item {
    position: relative;
    padding: 0 0 2rem 3rem;
    border-left: 1px solid var(--color-bg-items);
    .tl-icon {
      position: absolute;
      left: -27px;
      top: 0;
      background-color: var(--color-secondary);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 1.3rem;
      }
    }
    .tl-duration {
      padding: 0.2rem 0.6rem;
      background-color: var(--color-bg-items);
      border-radius: var(--border-radius);
      display: inline-block;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    h5 {
      padding: 0.4rem 0;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 600;
      span {
        color: var(--color-s-text);
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
    p {
      color: var(--color-s-text);
    }
  }
}
