@media screen and (max-width: 1400px) {
  .header-content .left-header .person-image-container {
    width: 300px;
  }
}

@media screen and (max-width: 1040px) {
  .portfolios {
    grid-template-columns: 1fr 1fr;
  }
  .main-title {
    & h2.front-text {
      font-size: 3.3rem;
    }
    & h3.background-text {
      font-size: 4.7rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .header-content {
    .left-header .person-image-container {
      width: 250px;
    }
    .right-header {
      .introduction {
        font-size: 1.5rem;
      }
      & p {
        font-size: 1rem;
      }
    }
  }
  .main-title {
    & h2.front-text {
      font-size: 2.7rem;
    }
    & h3.background-text {
      font-size: 3.6rem;
    }
  }
  .about-skills .skill-elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .header-content {
    .left-header .person-image-container {
      width: 200px;
    }
  }
  .contact-content-container .contact-info .contact-item {
    flex-direction: column;
    .contact-data {
      text-align: left;
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 0;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
    .left-header {
      align-items: flex-start;
      padding-top: 1rem;
      .person-image-container {
        margin: 0 auto;
      }
    }
    .right-header {
      padding: 0;
      grid-row: 1;
      width: 90%;
      margin: 0 auto;
    }
  }
  .about-container {
    grid-template-columns: 1fr;
    .right-about {
      grid-template-columns: 1fr;
      padding-top: 2.5rem;
    }
    .left-about {
      padding-right: 0;
      & p {
        padding-left: 0;
      }
    }
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .blogs {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .main-title {
    & h2.front-text {
      font-size: 2.3rem;
    }
    & h3.background-text {
      font-size: 3rem;
    }
  }
  .section {
    padding: 2rem 2.5rem;
  }
  div.theme-btn {
    width: 40px;
    height: 40px;
    & i {
      font-size: 1.2rem;
    }
  }
  div.controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey5);
    .control {
      margin: 0.6rem 0.6rem;
    }
  }
}

@media screen and (max-height: 460px) {
  div.controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey5);
    .control {
      margin: 0.6rem 0.6rem;
    }
  }
}
